In [2]:
import pandas as pd

# Opening the Excel File Dataset Sales
sales = pd.read_excel('E:\Progamming Project\Portofolio\Project_Sales\Sales.xlsx')
print(sales.shape)
sales.set_index('Row ID', inplace=True)
sales.head()

(9800, 18)

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
Row ID,,,,,,,,,,,,,,,,,
1,CA-2017-152156,2017-11-08,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96
2,CA-2017-152156,2017-11-08,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.94
3,CA-2017-138688,2017-06-12,2017-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.62
4,US-2016-108966,2016-10-11,2016-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,9575775.00
5,US-2016-108966,2016-10-11,2016-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22368.00

In [3]:
# Checking column data types and empty/filled values
sales.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9800 entries, 1 to 9800
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order ID       9800 non-null   object
 1   Order Date     9800 non-null   datetime64[ns]
 2   Ship Date      9800 non-null   datetime64[ns]
 3   Ship Mode      9800 non-null   object
 4   Customer ID    9800 non-null   object
 5   Customer Name  9800 non-null   object
 6   Segment        9800 non-null   object
 7   Country        9800 non-null   object
 8   City           9800 non-null   object
 9   State          9800 non-null   object
 10  Postal Code    9789 non-null   float64
 11  Region         9800 non-null   object
 12  Product ID     9800 non-null   object
 13  Category       9800 non-null   object
 14  Sub-Category   9800 non-null   object
 15  Product Name   9800 non-null   object
 16  Sales          9800 non-null   float64
dtypes: datetime64[ns](2), float64(2), object(13)
memory usage: 1.3+ MB

In [4]:
# Finding the number of empty values in each column
sales.isnull().sum()

Order ID          0
Order Date        0
Ship Date         0
Ship Mode         0
Customer ID       0
Customer Name     0
Segment           0
Country           0
City              0
State             0
Postal Code      11
Region            0
Product ID        0
Category          0
Sub-Category      0
Product Name      0
Sales             0
dtype: int64

In [5]:
# Filling empty data with 'Empty' in the 'Postal Code' column
sales['Postal Code'].fillna('Empty', inplace=True)
sales.loc[sales['Postal Code'] == 'Empty', ['Postal Code']]

       Postal Code
Row ID
2235         Empty
5275         Empty
8799         Empty
9147         Empty
9148         Empty
9149         Empty
9387         Empty
9388         Empty
9389         Empty
9390         Empty
9742         Empty

In [6]:
# Checking the data structure again to ensure there are no empty values
sales.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9800 entries, 1 to 9800
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order ID       9800 non-null   object
 1   Order Date     9800 non-null   datetime64[ns]
 2   Ship Date      9800 non-null   datetime64[ns]
 3   Ship Mode      9800 non-null   object
 4   Customer ID    9800 non-null   object
 5   Customer Name  9800 non-null   object
 6   Segment        9800 non-null   object
 7   Country        9800 non-null   object
 8   City           9800 non-null   object
 9   State          9800 non-null   object
 10  Postal Code    9800 non-null   object
 11  Region         9800 non-null   object
 12  Product ID     9800 non-null   object
 13  Category       9800 non-null   object
 14  Sub-Category   9800 non-null   object
 15  Product Name   9800 non-null   object
 16  Sales          9800 non-null   float64
dtypes: datetime64[ns](2), float64(1), object(14)
memory usage: 1.3+ MB

In [7]:
# Viewing descriptive statistical summary of the DataFrame or Series
sales.describe()

,Order Date,Ship Date,Sales
count,9800,9800,9.800000e+03
mean,2017-05-01 05:13:51.673469440,2017-05-05 04:17:52.653061120,1.014267e+05
min,2015-01-03 00:00:00,2015-01-07 00:00:00,4.440000e-01
25%,2016-05-24 00:00:00,2016-05-27 18:00:00,3.989500e+01
50%,2017-06-26 00:00:00,2017-06-29 00:00:00,3.563750e+02
75%,2018-05-15 00:00:00,2018-05-19 00:00:00,2.534400e+04
max,2018-12-30 00:00:00,2019-01-05 00:00:00,2.396266e+07
std,NaN,NaN,5.215577e+05

1. What product Category & Subcategory are frequently ordered?

In [8]:
# Grouping by Category while aggregating Frequency Data
category = sales.groupby(
        ['Category']).agg(
            {'Category':['count']})
        
category.columns = category.columns.droplevel(0)
category = category.rename(columns={'count':'Fr_Category'})

category

                 Fr_Category
Category
Furniture               2078
Office Supplies         5909
Technology              1813

In [9]:
# Grouping by Sub-Category while aggregating Frequency Data for a more specific view
subCategory = sales.groupby(
        ['Category','Sub-Category']).agg(
            {'Sub-Category':['count']})
        
subCategory.columns = subCategory.columns.droplevel(0)
subCategory = subCategory.rename(columns={'count':'Fr_Sub-Category'})

subCategory

                              Fr_Sub-Category
Category        Sub-Category
Furniture       Bookcases                 226
                Chairs                    607
                Furnishings               931
                Tables                    314
Office Supplies Appliances                459
                Art                       785
                Binders                  1492
                Envelopes                 248
                Fasteners                 214
                Labels                    357
                Paper                    1338
                Storage                   832
                Supplies                  184
Technology      Accessories               756
                Copiers                    66
                Machines                  115
                Phones                    876

2. Which products are frequently ordered based on the Segment (User) and product grouping, including their total sales?

In [10]:
# Grouping by Segment, Category, and Sub-Category while aggregating Frequency and Total Sales
Segment = sales.groupby(
    ['Segment','Category','Sub-Category']).agg(
        {'Category':['count'],'Sales':['sum']}
    )
Segment.columns = Segment.columns.droplevel(0)

Segment = Segment.rename(columns={'count':'Frequency','sum':'Total Sales'})
Segment

                                          Frequency   Total Sales
Segment     Category        Sub-Category
Consumer    Furniture       Bookcases           130  1.122414e+08
                            Chairs              324  8.426109e+07
                            Furnishings         481  9.275009e+06
                            Tables              158  6.730198e+07
            Office Supplies Appliances          240  9.600968e+06
                            Art                 423  3.293396e+06
                            Binders             769  5.568763e+07
                            Envelopes           127  2.457108e+06
                            Fasteners           113  4.427455e+05
                            Labels              184  5.531596e+05
                            Paper               676  9.706927e+06
                            Storage             444  2.528553e+07
                            Supplies             96  1.231864e+07
            Technology      Accessories         400  1.670916e+07
                            Copiers              33  2.697916e+07
                            Machines             57  2.268698e+07
                            Phones              446  7.331520e+07
Corporate   Furniture       Bookcases            64  6.608802e+07
                            Chairs              183  5.155369e+07
                            Furnishings         278  7.356004e+06
                            Tables              103  4.015453e+07
            Office Supplies Appliances          153  5.695287e+06
                            Art                 214  2.844807e+06
                            Binders             460  2.028649e+07
                            Envelopes            81  1.598164e+06
                            Fasteners            59  2.894943e+05
                            Labels              100  1.141099e+06
                            Paper               400  5.595639e+06
                            Storage             256  1.533004e+07
                            Supplies             60  9.710312e+05
            Technology      Accessories         219  5.913520e+06
                            Copiers              20  7.219476e+06
                            Machines             35  2.058108e+07
                            Phones              268  3.917216e+07
Home Office Furniture       Bookcases            32  1.550091e+07
                            Chairs              100  3.203075e+07
                            Furnishings         172  5.312271e+06
                            Tables               53  2.045673e+07
            Office Supplies Appliances           66  3.243279e+06
                            Art                 148  8.367475e+05
                            Binders             263  1.645890e+07
                            Envelopes            40  7.225461e+05
                            Fasteners            42  1.706614e+05
                            Labels               73  3.818788e+05
                            Paper               262  3.199163e+06
                            Storage             132  8.332750e+06
                            Supplies             28  2.457729e+05
            Technology      Accessories         137  5.448089e+06
                            Copiers              13  1.969302e+07
                            Machines             23  6.133680e+06
                            Phones              162  3.190739e+07

3. What is the difference in each Order-to-Delivery time based on the Shipping Method and Product Category?

In [11]:
# Viewing the Time Difference between Order and Delivery based on Shipping Method & Product Category
sales['Times'] = sales['Ship Date'] - sales['Order Date']
sales['Times'] = sales['Times'].astype('str')
time = sales.groupby(
    ['Category', 'Ship Mode','Times']
    ).agg(
        {'Times':['count']}
)
time.columns = time.columns.droplevel(0)   
time = time.rename(columns={'count':'Frequency'})

# Selecting the Range of Time Differences with a Frequency above 100
time = time.loc[time['Frequency'] >= 100]
time

                                       Frequency
Category        Ship Mode      Times
Furniture       First Class    2 days        125
                               3 days        119
                Same Day       0 days        115
                Second Class   2 days        171
                               5 days        103
                Standard Class 4 days        507
                               5 days        360
                               6 days        232
                               7 days        128
Office Supplies First Class    1 days        200
                               2 days        312
                               3 days        373
                Same Day       0 days        307
                Second Class   2 days        434
                               3 days        237
                               4 days        227
                               5 days        230
                Standard Class 4 days       1397
                               5 days       1067
                               6 days        728
                               7 days        379
Technology      First Class    2 days        120
                               3 days        113
                Second Class   2 days        133
                Standard Class 4 days        445
                               5 days        297
                               6 days        210
                               7 days        108

4. In which city are deliveries most frequently made based on the province/state?

In [12]:
# Analyzing frequently occurring delivery locations
city = sales.groupby(
    ['City']).agg(
        {'State':['count']})
city.columns = ['count']

# Summing up the Frequency of States grouped by City
city = city.groupby(['City']).agg({'count': 'sum'})
city.columns = ['sum']
city = city.rename(columns={'sum':'Fr_City'})

# Selecting the Range of delivery Frequencies above 80
# Prioritizing larger Frequencies for more valid and accurate data within a data range
city = city.loc[city['Fr_City'] >= 80]
city

               Fr_City
City
Chicago            308
Columbia            81
Columbus           221
Dallas             156
Detroit            115
Houston            374
Jackson             82
Jacksonville       125
Los Angeles        728
New York City      891
Newark              92
Philadelphia       532
Richmond            81
San Diego          170
San Francisco      500
Seattle            426
Springfield        161

5. Who are the customers who frequently purchase items, including their city and region?

In [13]:
# Analyzing customers who frequently purchase products
customer = sales.groupby(['Region', 'Customer Name']).agg({'Customer Name': ['count']})
customer.columns = customer.columns.droplevel(0)
customer = customer.rename(columns={'count': 'Fr_Customer'})

# Selecting data with Frequency greater than or equal to 15 for each purchase
# Prioritizing larger Frequencies for more valid and accurate data within a data range
customer = customer.loc[(customer.Fr_Customer >= 15)]
customer

                             Fr_Customer
Region  Customer Name
Central Brian Moss                    16
        Ken Lonsdale                  17
        Lindsay Shagiari              15
        Matt Abelman                  17
        Sam Craven                    16
East    Ann Chong                     15
        Chloris Kastensmidt           15
        Jonathan Doherty              16
        Paul Prost                    15
        Seth Vernon                   26
        Ted Butterfield               17
West    Arianne Irving                15
        Arthur Prichep                23
        Clay Ludtke                   15
        Darrin Sayre                  16
        Greg Guthrie                  17
        Lena Cacioppo                 15
        Lena Creighton                15
        Rick Wilson                   19
        Ruben Dartt                   15
        Sally Hughsby                 15
        Sanjit Chand                  15
        William Brown                 24
        Zuschuss Carroll              16

6. How is the revenue based on product category (min, mean, max, sum)?

In [14]:
# Viewing the Comprehensive Sales Calculation Based on Product Category
Category_Sales = sales.groupby(['Category']).agg({'Sales':['min','mean','max','sum']})
Category_Sales.columns = ['min','mean','max','sum']
Category_Sales = Category_Sales.rename(columns={
    'min':'Minimum',
    'mean':'Mean',
    'max':'Maximum',
    'sum':'Total'
    })
Category_Sales

                 Minimum           Mean     Maximum         Total
Category
Furniture          2.910  246165.737642  23962656.0  5.115324e+08
Office Supplies    0.444   34978.820395   4663736.0  2.066898e+08
Technology         0.990  152100.894760  11199968.0  2.757589e+08

7. How is the revenue based on product subcategories (min, mean, max, sum)?

In [15]:
# Performing Sales Calculation Based on Product Subcategories
Sub_Sales = sales.groupby(['Sub-Category']).agg({'Sales':['min','mean','max','sum']})
Sub_Sales.columns = ['min','mean','max','sum']
Sub_Sales = Sub_Sales.rename(columns={
    'min':'Minimum',
    'mean':'Mean',
    'max':'Maximum',
    'sum':'Total'
    })
Sub_Sales

              Minimum           Mean     Maximum         Total
Sub-Category
Accessories     0.990   37130.651032   1399944.0  2.807077e+07
Appliances      0.444   40391.141686    942784.0  1.853953e+07
Art             1.640    8885.286892   1113024.0  6.974950e+06
Binders         0.556   61952.423909   4535976.0  9.243302e+07
Bookcases      35.490  857656.466549  23962656.0  1.938304e+08
Chairs         26.640  276516.512916   4416174.0  1.678455e+08
Copiers       299.990  816540.346667  11199968.0  5.389166e+07
Envelopes       2.040   19265.393508    604656.0  4.777818e+06
Fasteners       1.240    4219.164299     58368.0  9.029012e+05
Furnishings     2.910   23569.585467   1007232.0  2.194328e+07
Labels          2.520    5815.512241    629184.0  2.076138e+06
Machines       11.560  429580.329304   8159952.0  4.940174e+07
Paper           3.380   13827.899073    360712.0  1.850173e+07
Phones          2.970  164834.188664   4367896.0  1.443947e+08
Storage         5.980   58832.112548   1801632.0  4.894832e+07
Supplies        2.920   73562.205326   4663736.0  1.353545e+07
Tables         70.560  407366.987166   9575775.0  1.279132e+08

8. How is the revenue each year (min, mean, max, sum)?

In [16]:
# Extracting Year & Month from the 'Order Date' column into new columns
sales['Year'] = sales['Order Date'].dt.year
sales['Month'] = sales['Order Date'].dt.month

# Performing Sales Calculation Based on Year and Month of Sales
profitYear = sales.groupby(['Year','Month']).aggregate({'Sales':['min','mean','max','sum']})
profitYear.columns = profitYear.columns.droplevel(0)
profitYear = profitYear.rename(columns={
    'min':'Minimum',
    'mean':'Mean',
    'max':'Maximum',
    'sum':'Total'
    })

profitYear

            Minimum           Mean     Maximum         Total
Year Month
2015 1        2.890   22079.676494    333999.0  1.700135e+06
     2        1.080    9648.959130    129568.0  4.438521e+05
     3        0.852  103040.013065   1579746.0  1.586816e+07
     4        3.150   53872.456615   1075088.0  7.003419e+06
     5        5.040   66343.680579   1113504.0  8.027585e+06
     6        3.520  125111.729618   3266376.0  1.638964e+07
     7        2.880  105597.313592   2177584.0  1.499482e+07
     8        2.600   85477.284932   2060744.0  1.247968e+07
     9        0.876  136712.322120   8159952.0  3.650219e+07
     10       0.898   78294.205270   2735952.0  1.244878e+07
     11       2.520  100712.470131   3059745.0  3.081802e+07
     12       2.920  110002.483613   3610848.0  3.014068e+07
2016 1        6.680  395634.229474  13523976.0  2.255115e+07
     2        3.150   39774.941094    670752.0  2.545596e+06
     3        2.740  155677.203984  12279984.0  1.992668e+07
     4        5.560   91221.907044   1915155.0  1.450428e+07
     5        6.630  126146.326923   5099575.0  1.803892e+07
     6        0.984   97492.742977   3050376.0  1.257656e+07
     7        2.880   78223.065515   1348704.0  1.063834e+07
     8        2.200  105863.058291   3691992.0  1.672636e+07
     9        1.080   65069.016035   4228704.0  1.854467e+07
     10       1.720  126515.032744   9575775.0  2.074847e+07
     11       2.480  104753.649782   6139992.0  3.362592e+07
     12       1.780   88984.876559   5323992.0  2.767430e+07
2017 1        4.660   79358.450337   1439968.0  7.062902e+06
     2        4.770   50923.083976   1127976.0  4.226616e+06
     3        5.980  121373.444658   4158912.0  1.954112e+07
     4        2.880   98279.095655   1554936.0  1.651089e+07
     5        2.890  102512.188914   8399976.0  2.265519e+07
     6        0.836   78233.495592   3023928.0  1.533377e+07
     7        3.150   71410.773571   1439976.0  1.399651e+07
     8        1.980  143487.598686   5622925.0  2.511033e+07
     9        1.810  183973.549112  23962656.0  6.420677e+07
     10       3.620   67162.539375   4535976.0  1.289521e+07
     11       3.640  123561.160082   9566648.0  4.522338e+07
     12       1.800   83894.500680   2575944.0  2.835634e+07
2018 1        2.040   99850.287483   3059982.0  1.427859e+07
     2        6.560   79850.726442    963136.0  8.304476e+06
     3        0.556   65403.114456   2053328.0  1.550054e+07
     4        1.810  117256.695850   6206145.0  2.345134e+07
     5        2.780   87962.172667   6234648.0  2.111092e+07
     6        0.444  133930.064528   9179235.0  3.147357e+07
     7        1.080   64481.122377   1889946.0  1.437929e+07
     8        3.240  159448.516869   4416174.0  3.412198e+07
     9        2.780   83115.867439   4663736.0  3.765149e+07
     10       0.990  126067.813503  11199968.0  3.706394e+07
     11       1.640  105089.098706   3277328.0  4.792063e+07
     12       1.680   62499.285403   2879952.0  2.868717e+07

9. What is the likelihood of the occurrence of a variation in issues based on Category & Sub-Category (using standard deviation)?

In [17]:
# Finding the Standard Deviation
std = sales.groupby(['Category','Sub-Category']).aggregate({'Sales':['std']})
std.columns = std.columns.droplevel(0)
std = std.rename(columns={'std':'Standard Deviation Sales'})

std

                              Standard Deviation Sales
Category        Sub-Category
Furniture       Bookcases                 2.424394e+06
                Chairs                    4.409201e+05
                Furnishings               7.584568e+04
                Tables                    8.875612e+05
Office Supplies Appliances                1.177837e+05
                Art                       4.453056e+04
                Binders                   3.087456e+05
                Envelopes                 5.841157e+04
                Fasteners                 9.298287e+03
                Labels                    3.717015e+04
                Paper                     3.846571e+04
                Storage                   1.853860e+05
                Supplies                  4.640292e+05
Technology      Accessories               1.126429e+05
                Copiers                   1.766855e+06
                Machines                  1.134808e+06
                Phones                    3.815672e+05

10. How many customers choose the shipping method based on segment and product type?

In [18]:
# Grouping by Shipping Method and Aggregating Customer Frequency and Total Sales
method = sales.groupby(['Ship Mode','Segment','Category']).aggregate(
    {'Customer Name':['count'],
     'Sales':['sum']}
    )
method.columns = ['count','sum']
method = method.rename(columns={'count':'Fr_Customer','sum':'Total Sales'})

method

                                            Fr_Customer   Total Sales
Ship Mode      Segment     Category
First Class    Consumer    Furniture                162  2.360129e+07
                           Office Supplies          446  1.454056e+07
                           Technology               147  1.738611e+07
               Corporate   Furniture                 98  3.297467e+07
                           Office Supplies          281  9.951271e+06
                           Technology                89  1.964896e+07
               Home Office Furniture                 58  1.751821e+07
                           Office Supplies          159  7.809127e+06
                           Technology                61  2.183165e+07
Same Day       Consumer    Furniture                 65  9.270662e+06
                           Office Supplies          190  5.129211e+06
                           Technology                57  3.807222e+06
               Corporate   Furniture                 28  7.743073e+06
                           Office Supplies           69  2.881567e+06
                           Technology                17  5.545042e+06
               Home Office Furniture                 25  5.073988e+06
                           Office Supplies           64  9.963962e+05
                           Technology                23  3.847429e+06
Second Class   Consumer    Furniture                230  8.350292e+07
                           Office Supplies          594  1.917458e+07
                           Technology               179  2.328421e+07
               Corporate   Furniture                115  2.091628e+07
                           Office Supplies          362  9.043754e+06
                           Technology               112  1.633345e+07
               Home Office Furniture                 69  1.011546e+07
                           Office Supplies          173  8.154039e+06
                           Technology                68  1.044441e+07
Standard Class Consumer    Furniture                636  1.567046e+08
                           Office Supplies         1842  8.050176e+07
                           Technology               553  9.521296e+07
               Corporate   Furniture                387  1.035182e+08
                           Office Supplies         1071  3.187546e+07
                           Technology               324  3.135879e+07
               Home Office Furniture                205  4.059301e+07
                           Office Supplies          658  1.663213e+07
                           Technology               183  2.705870e+07

In [19]:
# Save the data to an Excel file with each sheet corresponding to the grouping
with pd.ExcelWriter('Project_Sales.xlsx') as writer:
    category.to_excel(writer, sheet_name='Category')
    subCategory.to_excel(writer, sheet_name='Sub-Category')
    Segment.to_excel(writer, sheet_name='Segment')
    time.to_excel(writer, sheet_name='Time')
    city.to_excel(writer, sheet_name='City')
    customer.to_excel(writer, sheet_name='Customer')
    Category_Sales.to_excel(writer, sheet_name='Category_Sales')
    Sub_Sales.to_excel(writer, sheet_name='Sub_Sales')
    profitYear.to_excel(writer, sheet_name='Profit_Year')
    std.to_excel(writer, sheet_name='Standard_Deviation')
    method.to_excel(writer, sheet_name='Method')